
* {
    box-sizing: border-box;
}

/* INDEX */

.headnav {
    display: flex;
    border-bottom: solid 1px lavender;
    justify-content: space-between;
    align-items: center;
}

nav {
    gap: 1rem;
    display: flex;
}

.nav-icon {
    width: 30px;
}

.headnav h1 {
    font-family: 'Winter beauty script';
    margin-left: 10px;
}

a {
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    border-bottom: 1px solid lavender;
}

.cards {
    width: 400px;
    background-color: whitesmoke;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 2%;
    margin: 10px;
}

.nicks {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    gap: 0.5rem;
}

.nicks a {
    color: black;
    font-size: 15px;
    font-family: sans-serif;
}

.minilogo {
    display: flex;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: solid lightgreen;
    margin: 2%;
}

header img {
    width: 100%;
    align-items: center;
    border-radius: 2%;
}

.f-icon{
    display: flex;
    gap: 0.3rem;
}

.icono{
    width: 15px;
    margin-top: 5px;
    margin-right: 5px;
}

p {
    font-family: 'Helvetica', sans-serif;
}



.footerfinal {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

li {
    display: flex;
    text-decoration: none;
    justify-content: space-around;
    padding-top: 1rem;
}

/* PERFIL */

.box {
    display: flex;
    gap: 4rem;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: 1px solid lavender;
}

.photo-p {
    display: flex;
    align-items: center;
}

.photo-perfil img {
    height: 140px;
    width: 140px;
    border-radius: 100%;
    border: 5px solid rgba(0,0,0,0.12);
}

.box-perfil {
    display: flex;
}

.perfil {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
}


.head-buttons h1 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
}

.head-buttons {
    display: flex;
    justify-content: start;
    align-items:center;
    gap: 2rem;
}

.head-buttons button {
    height: 20px;
    min-width: 60px;
}

.seguimiento {
    display: flex;
    justify-content: flex-start;
}

.seguimiento {
    font-size: 12px;
    gap: 1rem;
    font-family: sans-serif;
    margin: 1rem;
}

/* ------------- */

.box-des {
    display: flex;
}

.destacadas {
    display: flex;
    gap: 1rem;
}

.destacadas img {
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

/*  ----------------- */

.container-feed {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.feed img {
    height: 250px;
    width: 250px;
}


@media (max-width: 576px) {

}
